---

---

<footer class="text-lg md:text-2xl text-center font-medium text-white">
  <a 
    class="font-bold drop-shadow-xl hover:underline hover:underline-offset-4" 
    aria-label="Descubrir redes sociales del GPC"
    href="https://linktr.ee/cs_upc" 
    target="_blank"
  >
    <span class="hidden lg:inline">Haz click</span>
    <span class="lg:hidden">Presiona</span> aquí
    para descubrir nuestras redes sociales
  </a>
</footer>